{% extends "page.html" %}
{% block main %}
<div class="container">
    <h1>User Management</h1>
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            {% if ask_email %}
            <th>Email</th>
            {% endif %}
            <th>Phone</th>
            <th>Organization</th>
            <th>Created</th>
            <th>Last login</th>
            <th>Has 2fa?</th>
            <th>Admin</th>
            <th>Is Authorized?</th>
            <th>Running</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% if user.is_authorized %}
        <tr class="success">
            <td>{{ user.username }}</td>
            <td>{{ user.user_real_name }}</td>
            {% if ask_email %}
            <td>{{ user.email }}</td>
            {% endif %}
            <td>{{ user.phone }}</td>
            <td>{{ user.organization }}</td>
            <td>{{ user.created }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.has_2fa }}</td>
            {% if user.admin == true %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>Yes</td>
            <td>{{ user.running }}</td>
            <td>
                <a class="btn btn-default" href="/hub/user-edit/{{ user.username }}" role="button">Edit</a>
            </td>
            {% if user.admin == true %}
            <td>
                <a class="btn btn-default" href="/hub/change-admin/{{ user.username }}" role="button">Admin</a>
            </td>
            {% else %}
            <td>
                <a class="btn btn-default" href="/hub/change-admin/{{ user.username }}" role="button">Set Admin</a>
            </td>
            {% endif %}
            <td>
                <a class="btn btn-default" href="/hub/authorize/{{ user.username }}" role="button">Unauthorize</a>
            </td>
            {% else %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.user_real_name }}</td>
            {% if ask_email %}
            <td>{{ user.email }}</td>
            {% endif %}
            <td>{{ user.phone }}</td>
            <td>{{ user.organization }}</td>
            <td>{{ user.created }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.has_2fa }}</td>
            {% if user.admin == true %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>No</td>
            <td>{{ user.running }}</td>
            <td>
                <a class="btn btn-default" href="/hub/user-edit/{{ user.username }}" role="button">Edit</a>
            </td>
            {% if user.admin == true %}
            <td>
                <a class="btn btn-default" href="/hub/change-admin/{{ user.username }}" role="button">Admin</a>
            </td>
            {% else %}
            <td>
                <a class="btn btn-default" href="/hub/change-admin/{{ user.username }}" role="button">Set Admin</a>
            </td>
            {% endif %}
            <td>
                <a class="btn btn-jupyter" href="/hub/authorize/{{ user.username }}" role="button">Authorize</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
