{% extends "page.html" %}
{% block main %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
                    <li class="breadcrumb-item active"><a href="/authorize">Authorize</a></li>
                </ol>
            </div>
            <h4 class="page-title">User Management</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-12">
        <div class="card" id="request-token">
            <div class="card-body">
                <h4 class="header-title mt-0">User List</h4>
                <table id="datatable" class="table table-striped table-centered">
                    <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        {% if ask_email %}
                        <th>Email</th>
                        {% endif %}
                        <th>Phone</th>
                        <th>Organization</th>
                        <th>Created</th>
                        <th>Last login</th>
                        <th>Is Authorized?</th>
                        <th>Running</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {{ user.username }}
                            {% if user.admin == true %}
                            <span class="badge badge-soft-purple">Admin</span>
                            {% endif %}
                        </td>
                        <td>{{ user.user_real_name }}</td>
                        {% if ask_email %}
                        <td>{{ user.email }}</td>
                        {% endif %}
                        <td>{{ user.phone }}</td>
                        <td>{{ user.organization }}</td>
                        <td>{{ convertDateTimeToKoreaSeoul(user.created) }}</td>
                        {% if user.last_login is not none %}
                        <td>{{ convertDateTimeToKoreaSeoul(user.last_login) }}</td>
                        {% else %}
                        <td>None</td>
                        {%endif %}
                        <td>
                            {% if user.is_authorized %}
                            <span class="badge badge-soft-success">Authorized</span>
                            {% else %}
                            <span class="badge badge-soft-danger">Unauthorized</span>
                            {% endif %}
                        </td>
                        <td>{{ user.running }}</td>
                        <td>
                            <a
                                    role="button"
                                    class="edit-user-button btn btn-xs btn-info waves-effect waves-light"
                                    href="/hub/user-edit/{{ user.username }}"
                            >
                                Edit
                            </a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
{% endblock %}
