<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AI Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by Mannatthemes" name="description" />
    <meta content="Mannatthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ static_url("assets/images/favicon.ico") }}">

    <!-- App css -->

    <link rel="stylesheet" href="{{ static_url("assets/css/bootstrap.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/icons.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/metisMenu.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/style.css") }}" type="text/css"/>

</head>

<body class="account-body accountbg">

<!-- Log In page -->
<div class="row vh-100 ">
    <div class="col-12 align-self-center">
        <div class="auth-page">
            <div class="card auth-card shadow-lg">
                <div class="card-body">
                    <div class="px-3">
                        <div class="auth-logo-box">
                            <img src="{{ static_url("assets/images/logo-sm.png") }}" height="55" alt="logo" class="auth-logo">
                        </div><!--end auth-logo-box-->

                        <div class="text-center auth-logo-text">
                            <h4 class="mt-0 mb-3 mt-5">Let's Get Started AI Playground</h4>
                            <p class="text-muted mb-0">Sign in to continue..</p>
                        </div> <!--end auth-logo-text-->


                        <form class="form-horizontal auth-form my-4" action="{{login_url}}?next={{next}}" method="post" role="form">
                            <div class="form-group">
                                <label for="username">User ID</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user-id"></i>
                                            </span>
                                    <input type="text" class="form-control" id="username_input" placeholder="Enter user's id" name="username" val="{{username}}" autofocus="autofocus">
                                </div>
                            </div><!--end form-group-->

                            <div class="form-group">
                                <label for="password_input">Password</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                    <input type="password" class="form-control" id="password_input" name="password" placeholder="Enter password">
                                </div>
                            </div><!--end form-group-->

                            {% if login_error %}
                            <p class="login_error">
                                {{login_error}}
                            </p>
                            {% endif %}

<!--                            <div class="form-group row mt-4">-->
<!--                                <div class="col-sm-6 text-right">-->
<!--                                    <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a>-->
<!--                                </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                            </div>&lt;!&ndash;end form-group&ndash;&gt;-->
                            <div class="form-group mb-0 row">
                                <div class="col-12 mt-2">
                                    <button id="login_submit" class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">Log In <i class="fas fa-sign-in-alt ml-1"></i></button>
                                </div><!--end col-->
                            </div> <!--end form-group-->
                        </form><!--end form-->
                    </div><!--end /div-->

                    <div class="m-3 text-center text-muted">
                        <p class="">Don't have an account ?  <a href="/signup" class="text-primary ml-2">Free Resister</a></p>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end auth-page-->
    </div><!--end col-->
</div><!--end row-->

<div class="login-copyright">
    <div>© 2019 Mondrian AI All Rights Reserved</div>
    <div>Version Alpha 0.2</div>
</div>

<!-- End Log In page -->

<!-- jQuery  -->
<script src="{{ static_url("assets/js/jquery.min.js") }}"/>
<script src="{{ static_url("assets/js/bootstrap.bundle.min.js") }}"/>
<script src="{{ static_url("assets/js/metisMenu.min.js") }}"/>
<script src="{{ static_url("assets/js/waves.min.js") }}"/>
<script src="{{ static_url("assets/js/jquery.slimscroll.min.js") }}"/>

<!-- App js -->
<script src="{{ static_url("assets/js/app.js") }}"/>

</body>
</html>
