<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AI Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by Mannatthemes" name="description" />
    <meta content="Mannatthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ static_url("assets/images/favicon.ico") }}">

    <!-- App css -->
    <link rel="stylesheet" href="{{ static_url("assets/css/bootstrap.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/icons.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/metisMenu.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("assets/css/style.css") }}" type="text/css"/>

</head>

<body class="account-body accountbg">

<!-- Log In page -->
<div class="row vh-100 ">
    <div class="col-12 align-self-center">
        <div class="auth-page">
            <div class="card auth-card shadow-lg">
                <div class="card-body">
                    <div class="px-3">
                        <div class="auth-logo-box">
                            <img src="{{ static_url("assets/images/logo-sm.png") }}" height="55" alt="logo" class="auth-logo">
                        </div><!--end auth-logo-box-->

                        <div class="text-center auth-logo-text">
                            <h4 class="mt-0 mb-3 mt-5">Free Register for AI Playground</h4>
                            <p class="text-muted mb-0">Get your free account now.</p>
                        </div> <!--end auth-logo-text-->


                        <form class="form-horizontal auth-form my-4" action="{{post_url}}" method="post" role="form">

                            <div class="form-group">
                                <label for="username_input">User ID</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user-id"></i>
                                            </span>
                                    <input type="text" class="form-control" name="username" id="username_input" placeholder="Enter user id" required>
                                </div>
                            </div><!--end form-group-->

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                    <input type="password" class="form-control" id="userpassword" name="pw" placeholder="Enter password" required>
                                </div>
                            </div><!--end form-group-->

                            <div class="form-group">
                                <label for="userrealname">Username</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                    <input type="text" class="form-control" name="user_real_name"  id="userrealname" placeholder="Enter username" required>
                                </div>
                            </div><!--end form-group-->

                            {% if ask_email %}
                            <div class="form-group">
                                <label for="email_input">Email</label>
                                <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-mail"></i>
                                            </span>
                                    <input type="email" class="form-control" id="email_input" name="email" placeholder="Enter Email" required>
                                </div>
                            </div><!--end form-group-->
                            {% endif %}

                            <div class="form-group">
                                <label for="phone_input">Mobile Number</label>
                                <div class="input-group mb-3">
                                                <span class="auth-form-icon">
                                                    <i class="dripicons-phone"></i>
                                                </span>
                                    <input type="tel" class="form-control" name="phone" id="phone_input" placeholder="Opt. Enter Mobile Number">
                                </div>
                            </div><!--end form-group-->

                            <div class="form-group">
                                <label for="organization_input">Organization</label>
                                <div class="input-group mb-3">
                                                <span class="auth-form-icon">
                                                    <i class="dripicons-suitcase"></i>
                                                </span>
                                    <input type="text" class="form-control" name="organization" id="organization_input" placeholder="Opt. Enter Organization">
                                </div>
                            </div><!--end form-group-->

<!--                            <div class="form-group row mt-4">-->
<!--                                <div class="col-sm-12">-->
<!--                                    <div class="custom-control custom-switch switch-success">-->
<!--                                        <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">-->
<!--                                        <label class="custom-control-label text-muted" for="customSwitchSuccess">By registering you agree to the Frogetor <a href="#" class="text-primary">Terms of Use</a></label>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                            </div>&lt;!&ndash;end form-group&ndash;&gt;-->

                            {% if alert %}
                            <div class="alert {{alert}}" style="margin-top: 15px;" role="alert">
                                {{result_message}}
                                {% if two_factor_auth_user %}
                                <p>
                                <p />
                                <strong>Attention!</strong> You have configured two factor authentication.
                                <br />
                                Your two factor authentication code is <strong>{{ two_factor_auth_value }}</strong>. Be sure to keep it safe :)
                                {% endif %}
                            </div>
                            {% endif %}

                            <div class="form-group mb-0 row">
                                <div class="col-12 mt-2">
                                    <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">Register <i class="fas fa-sign-in-alt ml-1"></i></button>
                                </div><!--end col-->
                            </div> <!--end form-group-->
                        </form><!--end form-->
                    </div><!--end /div-->

                    <div class="m-3 text-center text-muted">
                        <p class="">Already have an account ? <a href="/login" class="text-primary ml-2">Log in</a></p>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end auth-card-->
    </div><!--end col-->
</div><!--end row-->

<div class="login-copyright">
    <div>© 2019 Mondrian AI All Rights Reserved</div>
    <div>Version Alpha 0.2</div>
</div>

<!-- End Log In page -->

<!-- jQuery  -->
<script src="{{ static_url("assets/js/jquery.min.js") }}"/>
<script src="{{ static_url("assets/js/bootstrap.bundle.min.js") }}"/>
<script src="{{ static_url("assets/js/metisMenu.min.js") }}"/>
<script src="{{ static_url("assets/js/waves.min.js") }}"/>
<script src="{{ static_url("assets/js/jquery.slimscroll.min.js") }}"/>

<!-- App js -->
<script src="{{ static_url("assets/js/app.js") }}"/>

</body>
</html>
