{% extends "page.html" %}
{% block main %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  });
</script>
{% block login %}
<!--ID, Phone, Organization -->
<div id="login-main" class="container">
    <form action="{{post_url}}" method="post" role="form">
        <div class="auth-form-header">
            Edit User Profile
        </div>
        <div class='auth-form-body'>
            <label>User ID:</label>
            <input type="" class="form-control" name="username" id="username_input" tabindex="2" value={{userInformation.username}} disabled />
            <label>Name:</label>
            <input type="" class="form-control" name="user_real_name" id="id_input" tabindex="2" value={{userInformation.user_real_name}} required />
            {% if ask_email %}
            <label>Email:</label>
            <input type="email" class="form-control" name="email" id="email_input" tabindex="2" value={{userInformation.email}} required />
            {% endif %}
            <label>Phone:</label>
            <input type="tel" class="form-control" name="phone" id="phone_input" tabindex="2" value={{userInformation.phone}} required />
            <label>Organization:</label>
            <input type="" class="form-control" name="organization" id="organization_input" tabindex="2" value={{userInformation.organization}} required />
            <p></p>
            {% if two_factor_auth %}
            <label>Add two factor authentication:</label>
            <input type="checkbox" name="2fa" value="2fa">
            {% endif %}
            <input type="submit" id="signup_submit" class='btn btn-jupyter' value='Save' tabindex="3" />
            {% if alert %}
            <div class="alert {{alert}}" style="margin-top: 15px;" role="alert">
                {{result_message}}
                {% if two_factor_auth_user %}
                <p>
                <p />
                <strong>Attention!</strong> You have configured two factor authentication.
                <br />
                Your two factor authentication code is <strong>{{ two_factor_auth_value }}</strong>. Be sure to keep it safe :)
                {% endif %}
            </div>
            {% endif %}
        </div>
</form>
</div>
{% endblock login %}
{% endblock %}
