{% extends "page.html" %}
{% block main %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
                    <li class="breadcrumb-item"><a href="/authorize">Users</a></li>
                    <li class="breadcrumb-item active">User information</li>
                </ol><!--end breadcrumb-->
            </div><!--end /div-->
            <h4 class="page-title">User information</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body met-pro-bg">
                <div class="met-profile">
                    <div class="row">
                        <div class="col-lg-4 align-self-center">
                            <div class="met-profile-main">
                                <div class="met-profile-main-pic">
                                    <img src="{{static_url("assets/images/users/user-10.jpg") }}" alt="" class="rounded-circle">
<!--                                    <span class="fro-profile_main-pic-change">-->
<!--                                        <i class="fas fa-camera"></i>-->
<!--                                    </span>-->
                                </div>
                                <div class="met-profile_user-detail">
                                    <h5 class="met-user-name">{{userInformation.username}}</h5>
                                    <p class="mb-0 met-user-name-post">Researcher</p>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4 ml-auto personal-detail-wrapper">
                            <ul class="list-unstyled personal-detail">
                                <li class=""><i class="mdi mdi-clock-outline mr-2 text-info font-18"></i> <b> Created </b> : {{ convertDateTimeToKoreaSeoul(userInformation.created) }}</li>
                                <li class="mt-2"><i class="mdi mdi-clock-outline text-info font-18 mt-2 mr-2"></i> <b> Last login </b> :
                                    {% if userInformation.last_login is not none %}
                                    {{ convertDateTimeToKoreaSeoul(userInformation.last_login) }}
                                    {% else %}
                                    None
                                    {%endif %}
                                </li>
<!--                                <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li>-->
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end f_profile-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 mb-3 header-title">Profile</h4>
                <form action="{{post_url}}" method="post" role="form">
                    <div class="form-group user-edit-form-group">
                        <label for="setFullName">Full Name</label>
                        <input type="text" class="form-control" id="setFullName" placeholder="Full Name" name="user_real_name" value={{userInformation.user_real_name}}>
                    </div><!--end form-group-->
                    <div class="form-group user-edit-form-group">
                        <label for="setEmail">Email address</label>
                        <input type="email" class="form-control" id="setEmail" placeholder="Enter email" name="email" value={{userInformation.email}}>
                    </div><!--end form-group-->
                    <div class="form-group user-edit-form-group">
                        <label for="setPhoneNumber">Phone number</label>
                        <input type="tel" class="form-control" id="setPhoneNumber" placeholder="Phone number" name="phone" value={{userInformation.phone}}>
                    </div><!--end form-group-->
                    <div class="form-group user-edit-form-group">
                        <label for="setOrganization">Organization</label>
                        <input type="text" class="form-control" id="setOrganization" placeholder="Organization" name="organization" value={{userInformation.organization}}>
                    </div><!--end form-group-->

                    {% if alert %}
                    <!-- Then put toasts within -->
                    <div id="toast-change-information" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-toggle="toast">
                        <div class="toast-header bg-success">
                            <i class="mdi mdi-account-outline font-18 mr-1 text-white"></i>
                            <strong class="mr-auto text-white">Success!</strong>
                            <button id="btn-toast" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            The user's information has updated.
                        </div>
                    </div> <!--end toast-->
                    {% if two_factor_auth_user %}
                    <div class="alert {{alert}}" style="margin-top: 15px;" role="alert">
                        <strong>Attention!</strong> You have configured two factor authentication.
                        <br />
                        Your two factor authentication code is <strong>{{ two_factor_auth_value }}</strong>. Be sure to keep it safe :)
                    </div>
                    {% endif %}
                    {% endif %}
                    <button type="submit" class="btn btn-secondary btn-sm">Save Changes</button>
                </form> <!--end form-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="media setting-card">
                    <span class="sett-card-icon set-icon-success">
                        <i class="mdi mdi-lock-open"></i>
                    </span>
                    <div class="align-self-center">
                        <div class="setting-detail">
                            <h3 class="mb-0 mt-0">Authorized</h3>
                            <p class="text-muted mb-0">Activate the user's account.</p>
                        </div>
                        <div class="mt-2">
                            <a class="btn-group btn-group-toggle">
                                {% if user.name == userInformation.username %}
                                    <button id="btn--Authorize-own" type="button" class="btn btn-outline-light btn-sm active">Authorized</button>
                                {% else %}
                                    {% if userInformation.is_authorized %}
                                        <label class="btn btn-outline-light btn-sm active">
                                            <input type="radio" name="options" id="option1" checked> Authorized
                                        </label>
                                        <label id="btn--unauthorize" class="btn btn-outline-light btn-sm">
                                            <input type="radio" name="options" id="option4"> Unauthorized
                                        </label>
                                    {% else %}
                                        <label id="btn--authorize" class="btn btn-outline-light btn-sm">
                                            <input type="radio" name="options" id="option1"> Authorized
                                        </label>
                                        <label class="btn btn-outline-light btn-sm active">
                                            <input type="radio" name="options" id="option4" checked> Unauthorized
                                        </label>
                                    {% endif %}
                                {% endif %}
                            </a><!--end btn-group-->
                        </div> <!--end /div-->
                    </div><!--end media body-->
                </div><!--end media-->
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <div class="media setting-card">
                    <span class="sett-card-icon set-icon-purple">
                        <i class="mdi mdi-account-key"></i>
                    </span>
                    <div class="align-self-center">
                        <div class="setting-detail">
                            <h3 class="mb-0 mt-0">Admin</h3>
                            <p class="text-muted mb-0">Grant administrator authority to User.</p>
                        </div>
                        <div class="mt-2">
                            {% if user.name == userInformation.username %}
                                <button id="btn--admin-own" type="button" class="btn btn-outline-light btn-sm active">Admin</button>
                            {% else %}
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% if userInformation.admin %}
                                    <label class="btn btn-outline-light btn-sm active">
                                        <input type="radio" name="options" id="option5" checked> Set Admin
                                    </label>
                                    <label id="btn--set-not-admin" class="btn btn-outline-light btn-sm">
                                        <input type="radio" name="options" id="option6"> Set not admin
                                    </label>
                                {% else %}
                                    <label id="btn--set-admin" class="btn btn-outline-light btn-sm">
                                        <input type="radio" name="options" id="option5"> Set Admin
                                    </label>
                                    <label class="btn btn-outline-light btn-sm active">
                                        <input type="radio" name="options" id="option6" checked> Set not admin
                                    </label>
                                {% endif %}
                                </div><!--end btn-group-->
                            {% endif %}

                        </div> <!--end /div-->
                    </div><!--end media body-->
                </div><!--end media-->
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <div class="media setting-card">
                    <span class="sett-card-icon set-icon-danger">
                        <i class="mdi mdi-account-off"></i>
                    </span>
                    <div class="align-self-center">
                        <div class="setting-detail">
                            <h3 class="mb-0 mt-0">Delete</h3>
                            <p class="text-muted mb-0">Delete the user account</p>
                        </div>
                        <div class="mt-2">
                            {% if user.name == userInformation.username %}
                                <button id="btn--delete-user-own" type="button" class="btn btn-outline-light btn-sm active">Delete</button>
                            {% else %}
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button id="btn--delete-user" class="btn btn-danger btn-sm px-3">Delete</button>
                                </div><!--end btn-group-->
                            {% endif %}
                        </div> <!--end /div-->
                    </div><!--end media body-->
                </div><!--end media-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
  require(["information"]);
</script>
{% endblock %}
